body{
  @import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
  font-family: 'DotGothic16', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
  color: darkblue;
}

.text_about{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
}

.text_about>p{
  margin-bottom: 28px;
  text-indent: 1.5em;
}

.calculator_all{

}

.calculator_output{

}
.big_button{
  
}
